@import "tailwindcss";
@import "aos/dist/aos.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: #0a0a0a;
  --color-light: #f4f4f4;
  --color-accent: #4b7c84;
  --color-accent-2: #b3d8de;
  --color-accent-3: #327680;
}

* {
  @apply transition-all duration-200 ease-in;
}

html {
  scroll-behavior: smooth;
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s step-start infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.shadow-multicolor-rotate {
  position: relative;
  z-index: 0;
}

.shadow-multicolor-rotate::before,
.shadow-multicolor-rotate::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: inherit;
  z-index: -1;
}

.shadow-multicolor-rotate::before {
  background: conic-gradient(
    var(--color-accent),
    var(--color-accent-2),
    var(--color-accent-3),
    var(--color-accent)
  );
  animation: spin 6s linear infinite;
  filter: blur(6px);
}

.shadow-multicolor-rotate::after {
  background: conic-gradient(
    var(--color-accent-2),
    var(--color-accent-3),
    var(--color-accent),
    var(--color-accent-2)
  );
  animation: spin-reverse 8s linear infinite;
  filter: blur(8px);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  to {
    transform: rotate(-360deg);
  }
}
